@model IEnumerable<Bangazon.Models.ProductType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Label)  (@item.Products.Count())
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductTypeId">Delete</a>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    @if (item.Products.Count > 0)
                    {
                        @foreach (var prod in item.Products.Take(3))
                        {

                        <li>@prod.Title</li>
                        }
                    }
                </ul>
            </td>
        </tr>
}
    </tbody>
</table>
